<!-- {% extends "blog/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'sidebar/latest_posts.css' %}"> 

<div class="content-container">
    <h1 class="text-primary" id="header"> Latest Posts from our Blog !!!</h1>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" style="float: left;">
            <div class="media-body" >
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
                </div>
            
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content" id="content">{{ post.content }}</p>
                
            </div>
        </article>
    {% endfor %}

    <p id="footer">For more posts, go to our blog's <a href="{% url 'blog-home' %}">home page</a></p>
</div>
{% endblock content %} -->
